{
  "svn-server": "falcon.jaspersoft.com",

  "overlayVersion": "test-release-name-tests-feature-name-SNAPSHOT",

  "release-cycle": "test-release-name",
  "feature-name": "test-feature-name",
  "branch-name": "release-name-feature-name",

  "jasperserver-branch": "test-release-name-ce-test-feature-name",
  "jasperserver-pro-branch": "test-release-name-pro-test-feature-name",

  "modules": [
    "bi-adhoc",
    "bi-charts",
    "bi-control",
    "bi-dashboard",
    "bi-report",
    "bi-repository",

    "js-sdk",
    "visualize-js",
    "jrs-ui",
    "jrs-ui-pro",

    "jasperserver",
    "jasperserver-pro"
  ]


}