{
  "svn-server": "svnserver.jaspersoft.com",

  "release-cycle": "test-release-name",
  "feature-name": "test-feature-name",

  "jasperserver-branch": "<existed jrs ce branch name>",
  "jasperserver-pro-branch": "<existed jrs pro branch name>",

  "jasperserver-ci-path": "<path to ci jrs>",
  "jasperserver-pro-ci-path": "<path to ci jrs-pro>",


  "modules": [
    "bi-adhoc",
    "bi-charts",
    "bi-control",
    "bi-dashboard",
    "bi-report",
    "bi-repository",

    "js-sdk",
    "visualize-js",
    "jrs-ui",
    "jrs-ui-pro"
  ]

}
